.shopping-cart-container {
  // Let the shopping cart stick to the top on scroll
  top: 5em;

  .shopping-cart-title {
    padding: 1em;
    text-align: center;
  }

  li {
    padding: 0.5em;
  }
}

.cart-item-title {
  font-size: $card-font-size;
}
