@import './styles/variables.scss';
@import './styles/list.scss';
@import './styles/cart.scss';

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  background-color: $bg-color !important;
}

.container {
  margin-top: 5em;
}

.card img {
  object-fit: cover;
}

